In [1]:
import pandas as pd

Location = "kickstarter.xls"
df = pd.read_excel(Location)
df.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

In [2]:
df.columns = ['ID','name','category','main_category','currency','deadline','goal','launched','pledged','state','backers','country','usd pledged','usd_pledged_real','usd_goal_real']
df.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

In [3]:
## Drop 'currency', 'goal', 'pledged', and 'usd pledged' columns.
dfdropcol = df
dfdropcol = dfdropcol.drop('currency', axis=1)
dfdropcol = dfdropcol.drop('goal', axis=1)
dfdropcol = dfdropcol.drop('pledged', axis=1)
dfdropcol = dfdropcol.drop('usd pledged', axis=1)
dfdropcol.head()

,ID,name,category,main_category,deadline,launched,state,backers,country,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,2015-10-09,2015-08-11 12:12:28,failed,0,GB,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,2017-11-01,2017-09-02 04:43:57,failed,15,US,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,2013-02-26,2013-01-12 00:20:50,failed,3,US,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,2012-04-16,2012-03-17 03:24:11,failed,1,US,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,2015-08-29,2015-07-04 08:35:03,canceled,14,US,1283.0,19500.00

In [4]:
dfdropcol.describe()

                 ID       backers  usd_pledged_real  usd_goal_real
count  6.553500e+04  65535.000000      6.553500e+04   6.553500e+04
mean   1.060538e+09    104.759289      9.220195e+03   4.174910e+04
std    3.310418e+08    798.061466      8.284976e+04   1.133591e+06
min    1.061440e+05      0.000000      0.000000e+00   7.500000e-01
25%    1.054736e+09      2.000000      3.200000e+01   2.000000e+03
50%    1.147908e+09     12.000000      6.340000e+02   5.500000e+03
75%    1.240931e+09     57.000000      4.068905e+03   1.537669e+04
max    1.333329e+09  85581.000000      8.596475e+06   1.663614e+08

In [5]:
dfdropcol.dtypes

ID                           int64
name                        object
category                    object
main_category               object
deadline            datetime64[ns]
launched            datetime64[ns]
state                       object
backers                      int64
country                     object
usd_pledged_real           float64
usd_goal_real              float64
dtype: object

In [6]:
pd.value_counts(dfdropcol['state'])

failed        34159
successful    23404
canceled       6594
undefined       589
live            470
suspended       319
Name: state, dtype: int64

In [7]:
## Drop rows where state = live and state = undefined (pledged > 0 but backers = 0).
dfdrop = dfdropcol
dfdrop = dfdrop.drop(dfdrop[dfdrop['state']=='live'].index)
dfdrop = dfdrop.drop(dfdrop[dfdrop['state']=='undefined'].index)
dfdrop = dfdrop.sort_values(by='usd_goal_real', ascending=0)
dfdrop.head()

,ID,name,category,main_category,deadline,launched,state,backers,country,usd_pledged_real,usd_goal_real
47803,1243678698,FUCK Potato Salad. Paleo Potato Brownies!,Food,Food,2014-08-08,2014-07-09 00:24:34,failed,0,GB,0.0,1.663614e+08
55009,1279992058,Kybernan Holographic Gaming Network,Video Games,Games,2016-01-01,2015-11-07 00:57:17,failed,4,US,13.0,1.000000e+08
23469,1119122774,"Help me start a fair media company, Trump Media",Video,Journalism,2017-01-21,2016-11-22 06:41:27,failed,1,US,1.0,1.000000e+08
33084,1168153740,Sage: Warrior Of The Fallen Gods (Movie),Fantasy,Film & Video,2017-01-14,2016-12-15 02:24:14,failed,0,US,0.0,1.000000e+08
35786,1181512240,The Best Kickstarter Video Ever,Comedy,Film & Video,2014-08-08,2014-07-09 21:40:31,failed,5,US,130.0,7.300000e+07

In [8]:
pd.value_counts(dfdrop['state'])

failed        34159
successful    23404
canceled       6594
suspended       319
Name: state, dtype: int64

In [9]:
import numpy as np
dfdrop['state_recat'] = np.where(dfdrop['usd_pledged_real']>=dfdrop['usd_goal_real'],'successful','not_successful')
dfdrop.head()

,ID,name,category,main_category,deadline,launched,state,backers,country,usd_pledged_real,usd_goal_real,state_recat
47803,1243678698,FUCK Potato Salad. Paleo Potato Brownies!,Food,Food,2014-08-08,2014-07-09 00:24:34,failed,0,GB,0.0,1.663614e+08,not_successful
55009,1279992058,Kybernan Holographic Gaming Network,Video Games,Games,2016-01-01,2015-11-07 00:57:17,failed,4,US,13.0,1.000000e+08,not_successful
23469,1119122774,"Help me start a fair media company, Trump Media",Video,Journalism,2017-01-21,2016-11-22 06:41:27,failed,1,US,1.0,1.000000e+08,not_successful
33084,1168153740,Sage: Warrior Of The Fallen Gods (Movie),Fantasy,Film & Video,2017-01-14,2016-12-15 02:24:14,failed,0,US,0.0,1.000000e+08,not_successful
35786,1181512240,The Best Kickstarter Video Ever,Comedy,Film & Video,2014-08-08,2014-07-09 21:40:31,failed,5,US,130.0,7.300000e+07,not_successful

In [10]:
dfdrop[dfdrop['state_recat']=='successful'].head()
## The largest successful goal was $1,000,000. Video games, technology, and product design appear
## to be the most successful types of projects.

,ID,name,category,main_category,deadline,launched,state,backers,country,usd_pledged_real,usd_goal_real,state_recat
30718,1156271755,Shroud of the Avatar: Forsaken Virtues,Video Games,Games,2013-04-07,2013-03-08 16:57:29,successful,22322,US,1919275.99,1000000.00,successful
37514,1190319763,Pathfinder Online: A Fantasy Sandbox MMO,Video Games,Games,2013-01-15,2012-11-27 21:02:24,successful,8732,US,1091194.42,1000000.00,successful
6665,1033978702,OUYA: A New Kind of Video Game Console,Gaming Hardware,Games,2012-08-09,2012-07-10 14:44:41,successful,63416,US,8596474.58,950000.00,successful
51511,1262190409,LUNAR MISSION ONE: A new lunar mission for eve...,Space Exploration,Technology,2014-12-18,2014-11-19 00:59:59,successful,7297,GB,1052244.36,938878.98,successful
61794,1314258248,System Shock,Video Games,Games,2016-07-28,2016-06-28 21:02:50,successful,21625,US,1350700.17,900000.00,successful

In [11]:
## Drop rows where state_recat = 'successful' and backers = 0 (state should have been classified as 'undefined').
dfdrop = dfdrop.drop(dfdrop[(dfdrop['state_recat']=='successful') & (dfdrop['backers']==0)].index)
dfdrop.head()

,ID,name,category,main_category,deadline,launched,state,backers,country,usd_pledged_real,usd_goal_real,state_recat
47803,1243678698,FUCK Potato Salad. Paleo Potato Brownies!,Food,Food,2014-08-08,2014-07-09 00:24:34,failed,0,GB,0.0,1.663614e+08,not_successful
55009,1279992058,Kybernan Holographic Gaming Network,Video Games,Games,2016-01-01,2015-11-07 00:57:17,failed,4,US,13.0,1.000000e+08,not_successful
23469,1119122774,"Help me start a fair media company, Trump Media",Video,Journalism,2017-01-21,2016-11-22 06:41:27,failed,1,US,1.0,1.000000e+08,not_successful
33084,1168153740,Sage: Warrior Of The Fallen Gods (Movie),Fantasy,Film & Video,2017-01-14,2016-12-15 02:24:14,failed,0,US,0.0,1.000000e+08,not_successful
35786,1181512240,The Best Kickstarter Video Ever,Comedy,Film & Video,2014-08-08,2014-07-09 21:40:31,failed,5,US,130.0,7.300000e+07,not_successful

In [12]:
print(len(dfdrop[(dfdrop['state']=='canceled') & (dfdrop['state_recat']=='successful')]))

122

In [13]:
print(len(dfdrop[(dfdrop['state']=='suspended') & (dfdrop['state_recat']=='successful')]))

54

In [14]:
## Create numeric variable to represent successful or not_successful.
def score_to_numeric(x):
    if x=='sucessful':
        return 1
    if x=='not_successful':
        return 0

In [15]:
dfdrop['success_val'] = dfdrop['state_recat'].apply(score_to_numeric)
dfdrop.head()

,ID,name,category,main_category,deadline,launched,state,backers,country,usd_pledged_real,usd_goal_real,state_recat,success_val
47803,1243678698,FUCK Potato Salad. Paleo Potato Brownies!,Food,Food,2014-08-08,2014-07-09 00:24:34,failed,0,GB,0.0,1.663614e+08,not_successful,0.0
55009,1279992058,Kybernan Holographic Gaming Network,Video Games,Games,2016-01-01,2015-11-07 00:57:17,failed,4,US,13.0,1.000000e+08,not_successful,0.0
23469,1119122774,"Help me start a fair media company, Trump Media",Video,Journalism,2017-01-21,2016-11-22 06:41:27,failed,1,US,1.0,1.000000e+08,not_successful,0.0
33084,1168153740,Sage: Warrior Of The Fallen Gods (Movie),Fantasy,Film & Video,2017-01-14,2016-12-15 02:24:14,failed,0,US,0.0,1.000000e+08,not_successful,0.0
35786,1181512240,The Best Kickstarter Video Ever,Comedy,Film & Video,2014-08-08,2014-07-09 21:40:31,failed,5,US,130.0,7.300000e+07,not_successful,0.0

In [16]:
dfdrop_success_val = pd.get_dummies(dfdrop['state_recat'])
dfdrop_success_val.head()

       not_successful  successful
47803               1           0
55009               1           0
23469               1           0
33084               1           0
35786               1           0

In [17]:
dfdrop_new = dfdrop.join(dfdrop_success_val)
dfdrop_new.head()

,ID,name,category,main_category,deadline,launched,state,backers,country,usd_pledged_real,usd_goal_real,state_recat,success_val,not_successful,successful
47803,1243678698,FUCK Potato Salad. Paleo Potato Brownies!,Food,Food,2014-08-08,2014-07-09 00:24:34,failed,0,GB,0.0,1.663614e+08,not_successful,0.0,1,0
55009,1279992058,Kybernan Holographic Gaming Network,Video Games,Games,2016-01-01,2015-11-07 00:57:17,failed,4,US,13.0,1.000000e+08,not_successful,0.0,1,0
23469,1119122774,"Help me start a fair media company, Trump Media",Video,Journalism,2017-01-21,2016-11-22 06:41:27,failed,1,US,1.0,1.000000e+08,not_successful,0.0,1,0
33084,1168153740,Sage: Warrior Of The Fallen Gods (Movie),Fantasy,Film & Video,2017-01-14,2016-12-15 02:24:14,failed,0,US,0.0,1.000000e+08,not_successful,0.0,1,0
35786,1181512240,The Best Kickstarter Video Ever,Comedy,Film & Video,2014-08-08,2014-07-09 21:40:31,failed,5,US,130.0,7.300000e+07,not_successful,0.0,1,0

In [18]:
## Create new column for pledged as percent of goal.

dfdrop_new['percent'] = 100*(dfdrop_new['usd_pledged_real'])/(dfdrop_new['usd_goal_real'])
dfdrop_new.head()

,ID,name,category,main_category,deadline,launched,state,backers,country,usd_pledged_real,usd_goal_real,state_recat,success_val,not_successful,successful,percent
47803,1243678698,FUCK Potato Salad. Paleo Potato Brownies!,Food,Food,2014-08-08,2014-07-09 00:24:34,failed,0,GB,0.0,1.663614e+08,not_successful,0.0,1,0,0.000000
55009,1279992058,Kybernan Holographic Gaming Network,Video Games,Games,2016-01-01,2015-11-07 00:57:17,failed,4,US,13.0,1.000000e+08,not_successful,0.0,1,0,0.000013
23469,1119122774,"Help me start a fair media company, Trump Media",Video,Journalism,2017-01-21,2016-11-22 06:41:27,failed,1,US,1.0,1.000000e+08,not_successful,0.0,1,0,0.000001
33084,1168153740,Sage: Warrior Of The Fallen Gods (Movie),Fantasy,Film & Video,2017-01-14,2016-12-15 02:24:14,failed,0,US,0.0,1.000000e+08,not_successful,0.0,1,0,0.000000
35786,1181512240,The Best Kickstarter Video Ever,Comedy,Film & Video,2014-08-08,2014-07-09 21:40:31,failed,5,US,130.0,7.300000e+07,not_successful,0.0,1,0,0.000178

In [19]:
dfdrop_new.describe()

,ID,backers,usd_pledged_real,usd_goal_real,success_val,not_successful,successful,percent
count,6.445600e+04,64456.000000,6.445600e+04,6.445600e+04,40894.0,64456.000000,64456.000000,6.445600e+04
mean,1.060430e+09,105.944551,9.261225e+03,4.069458e+04,0.0,0.634448,0.365552,2.591234e+02
std,3.312736e+08,803.882687,8.277686e+04,1.074495e+06,0.0,0.481588,0.481588,1.204045e+04
min,1.061440e+05,0.000000,0.000000e+00,7.500000e-01,0.0,0.000000,0.000000,0.000000e+00
25%,1.054817e+09,2.000000,3.244000e+01,2.000000e+03,0.0,0.000000,0.000000,5.000000e-01
50%,1.148117e+09,13.000000,6.370950e+02,5.500000e+03,0.0,1.000000,0.000000,1.400000e+01
75%,1.240888e+09,58.000000,4.085000e+03,1.574059e+04,0.0,1.000000,1.000000,1.068029e+02
max,1.333329e+09,85581.000000,8.596475e+06,1.663614e+08,0.0,1.000000,1.000000,2.260300e+06

In [20]:
dfdrop_new.mode()

,ID,name,category,main_category,deadline,launched,state,backers,country,usd_pledged_real,usd_goal_real,state_recat,success_val,not_successful,successful,percent
0,106144,Karma,Product Design,Film & Video,2014-08-08,1970-01-01 01:00:00,failed,0.0,US,0.0,5000.0,not_successful,0.0,1.0,0.0,0.0
1,113230,Nostalgia,NaN,NaN,NaT,2012-04-10 00:47:19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,116600,The Bridge,NaN,NaN,NaT,2012-09-24 18:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,126581,NaN,NaN,NaN,NaT,2013-04-04 23:19:15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1003381,NaN,NaN,NaN,NaT,2014-01-21 21:12:14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1017454,NaN,NaN,NaN,NaT,2014-06-24 01:10:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1024013,NaN,NaN,NaN,NaT,2014-08-11 19:42:51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1024208,NaN,NaN,NaN,NaT,2014-09-04 23:03:31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1031051,NaN,NaN,NaN,NaT,2015-06-25 01:59:49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1033120,NaN,NaN,NaN,NaT,2015-09-10 16:20:36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1038373,NaN,NaN,NaN,NaT,2015-10-21 22:01:33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1041697,NaN,NaN,NaN,NaT,2016-11-01 15:02:40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1043796,NaN,NaN,NaN,NaT,2017-10-04 15:11:12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1044530,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1045984,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1057236,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1058397,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1065827,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1069403,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1069659,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1081679,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1086007,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1089501,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1098491,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1098510,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1100561,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1115841,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1122002,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1122138,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1123144,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64426,1333171778,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64427,1333174307,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64428,1333178027,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64429,1333182976,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64430,1333185442,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64431,1333203513,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64432,1333206386,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64433,1333208238,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64434,1333213318,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64435,1333231858,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64436,1333232459,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64437,1333245985,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64438,1333252759,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64439,1333253377,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64440,1333256919,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64441,1333262558,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64442,1333268111,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64443,1333279364,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64444,1333283059,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64445,1333284449,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64446,1333291362,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64447,1333299368,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64448,1333299449,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64449,1333312538,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64450,1333318423,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64451,1333318527,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64452,1333322677,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64453,1333323946,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64454,1333326933,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64455,1333329068,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
dfdrop_new.corr()

,ID,backers,usd_pledged_real,usd_goal_real,success_val,not_successful,successful,percent
ID,1.000000,-0.000618,0.000406,0.005171,NaN,0.002170,-0.002170,-0.002855
backers,-0.000618,1.000000,0.772306,0.003814,NaN,-0.146280,0.146280,0.016362
usd_pledged_real,0.000406,0.772306,1.000000,0.005816,NaN,-0.125053,0.125053,0.012850
usd_goal_real,0.005171,0.003814,0.005816,1.000000,NaN,0.022032,-0.022032,-0.000743
success_val,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
not_successful,0.002170,-0.146280,-0.125053,0.022032,NaN,1.000000,-1.000000,-0.027380
successful,-0.002170,0.146280,0.125053,-0.022032,NaN,-1.000000,1.000000,0.027380
percent,-0.002855,0.016362,0.012850,-0.000743,NaN,-0.027380,0.027380,1.000000

In [22]:
import statsmodels.formula.api as sm
result = sm.ols(formula='successful ~ usd_goal_real + usd_pledged_real + backers', data=dfdrop_new).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             successful   R-squared:                       0.022
Model:                            OLS   Adj. R-squared:                  0.022
Method:                 Least Squares   F-statistic:                     489.4
Date:                Sat, 07 Jul 2018   Prob (F-statistic):          1.67e-314
Time:                        12:02:49   Log-Likelihood:                -43637.
No. Observations:               64456   AIC:                         8.728e+04
Df Residuals:                   64452   BIC:                         8.732e+04
Df Model:                           3
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept            0.3565      0.002    188.296      0.000       0.353       0.360
usd_goal_real    -1.016e-08   1.75e-09     -5.822      0.000   -1.36e-08   -6.74e-09
usd_pledged_real  1.751e-07   3.57e-08      4.909      0.000    1.05e-07    2.45e-07
backers           7.376e-05   3.67e-06     20.081      0.000    6.66e-05     8.1e-05
==============================================================================
Omnibus:                     3098.176   Durbin-Watson:                   1.849
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2839.461
Skew:                           0.457   Prob(JB):                         0.00
Kurtosis:                       2.527   Cond. No.                     1.09e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.09e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [23]:
result = sm.ols(formula='successful ~ usd_goal_real + usd_pledged_real + backers - 1', data=dfdrop_new).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             successful   R-squared:                       0.038
Model:                            OLS   Adj. R-squared:                  0.038
Method:                 Least Squares   F-statistic:                     858.9
Date:                Sat, 07 Jul 2018   Prob (F-statistic):               0.00
Time:                        12:02:49   Log-Likelihood:                -57763.
No. Observations:               64456   AIC:                         1.155e+05
Df Residuals:                   64453   BIC:                         1.156e+05
Df Model:                           3
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
usd_goal_real     1.982e-09   2.17e-09      0.913      0.361   -2.27e-09    6.24e-09
usd_pledged_real  2.798e-07   4.44e-08      6.300      0.000    1.93e-07    3.67e-07
backers              0.0001   4.56e-06     26.907      0.000       0.000       0.000
==============================================================================
Omnibus:                    10585.950   Durbin-Watson:                   1.199
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           221487.779
Skew:                          -0.015   Prob(JB):                         0.00
Kurtosis:                      12.081   Cond. No.                     2.10e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.1e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [24]:
result = sm.ols(formula='successful ~ backers - 1', data=dfdrop_new).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             successful   R-squared:                       0.038
Model:                            OLS   Adj. R-squared:                  0.038
Method:                 Least Squares   F-statistic:                     2535.
Date:                Sat, 07 Jul 2018   Prob (F-statistic):               0.00
Time:                        12:02:49   Log-Likelihood:                -57783.
No. Observations:               64456   AIC:                         1.156e+05
Df Residuals:                   64455   BIC:                         1.156e+05
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
backers        0.0001   2.88e-06     50.345      0.000       0.000       0.000
==============================================================================
Omnibus:                    11574.968   Durbin-Watson:                   1.200
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           300311.181
Skew:                          -0.054   Prob(JB):                         0.00
Kurtosis:                      13.574   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [25]:
result = sm.ols(formula='usd_pledged_real ~ usd_goal_real + backers', data=dfdrop_new).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:       usd_pledged_real   R-squared:                       0.596
Model:                            OLS   Adj. R-squared:                  0.596
Method:                 Least Squares   F-statistic:                 4.763e+04
Date:                Sat, 07 Jul 2018   Prob (F-statistic):               0.00
Time:                        12:02:50   Log-Likelihood:            -7.9211e+05
No. Observations:               64456   AIC:                         1.584e+06
Df Residuals:                   64453   BIC:                         1.584e+06
Df Model:                           2
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept       827.0693    209.056      3.956      0.000     417.320    1236.819
usd_goal_real     0.0002      0.000      1.147      0.251      -0.000       0.001
backers          79.5242      0.258    308.646      0.000      79.019      80.029
==============================================================================
Omnibus:                   167183.387   Durbin-Watson:                   1.978
Prob(Omnibus):                  0.000   Jarque-Bera (JB):      22906846440.179
Skew:                          29.138   Prob(JB):                         0.00
Kurtosis:                    2922.914   Cond. No.                     1.09e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.09e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [26]:
result = sm.ols(formula='usd_pledged_real ~ backers - 1', data=dfdrop_new).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:       usd_pledged_real   R-squared:                       0.601
Model:                            OLS   Adj. R-squared:                  0.601
Method:                 Least Squares   F-statistic:                 9.723e+04
Date:                Sat, 07 Jul 2018   Prob (F-statistic):               0.00
Time:                        12:02:50   Log-Likelihood:            -7.9211e+05
No. Observations:               64456   AIC:                         1.584e+06
Df Residuals:                   64455   BIC:                         1.584e+06
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
backers       79.6600      0.255    311.812      0.000      79.159      80.161
==============================================================================
Omnibus:                   166812.812   Durbin-Watson:                   1.978
Prob(Omnibus):                  0.000   Jarque-Bera (JB):      22883012324.239
Skew:                          28.962   Prob(JB):                         0.00
Kurtosis:                    2921.401   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [27]:
## The above regression analysis on the full dataset (before dropping outliers) shows slight correlation
## between success and the number of backers (Adj. R-sq of only 0.038). It shows a much stronger
## correlation between amount pledged and the number of backers (Adj. R-sq of 0.601). It shows a 
## weak negative correlation between success and the magnitude of the goal (Adj. R-sq of only 0.022).

In [28]:
## Drop goal outliers on high side (above 1.96 standard deviations above the mean, which turns out 
## to be above $2,000,000).
dfdrop_outliers = dfdrop_new
meangoal = dfdrop_outliers['usd_goal_real'].mean()
stdgoal = dfdrop_outliers['usd_goal_real'].std()
toprange = meangoal + stdgoal*1.96

dfdrop_outliers = dfdrop_outliers.drop(dfdrop_outliers[dfdrop_outliers['usd_goal_real']>toprange].index)

dfdrop_outliers.head()

,ID,name,category,main_category,deadline,launched,state,backers,country,usd_pledged_real,usd_goal_real,state_recat,success_val,not_successful,successful,percent
42437,1216101235,Self Charging Electric Cars,Hardware,Technology,2017-03-14,2017-01-13 22:51:13,failed,2,US,2.0,2000000.0,not_successful,0.0,1,0,0.00010
18426,109355125,Star Wars: The Force Awakens Comedy Spoof,Comedy,Film & Video,2016-10-05,2016-09-05 18:07:41,failed,1,US,1.0,2000000.0,not_successful,0.0,1,0,0.00005
12627,1063365932,The Man of the Orchestra by The CorrÃ©a Sisters,Narrative Film,Film & Video,2014-09-16,2014-08-14 00:33:53,failed,9,US,1311.0,2000000.0,not_successful,0.0,1,0,0.06555
7272,1036946517,Save Nature,Nature,Photography,2016-07-12,2016-05-13 21:59:33,failed,1,US,20.0,2000000.0,not_successful,0.0,1,0,0.00100
13376,1067320337,"37 U.S. Navy Sailors Murdered, an American story",Drama,Film & Video,2015-07-10,2015-05-11 18:05:32,failed,0,US,0.0,2000000.0,not_successful,0.0,1,0,0.00000

In [29]:
dfdrop_outliers.describe()

,ID,backers,usd_pledged_real,usd_goal_real,success_val,not_successful,successful,percent
count,6.436300e+04,64363.000000,6.436300e+04,6.436300e+04,40801.0,64363.000000,64363.000000,6.436300e+04
mean,1.060354e+09,106.088483,9.271344e+03,2.237692e+04,0.0,0.633920,0.366080,2.594977e+02
std,3.313619e+08,804.454097,8.283503e+04,8.236006e+04,0.0,0.481735,0.481735,1.204914e+04
min,1.061440e+05,0.000000,0.000000e+00,7.500000e-01,0.0,0.000000,0.000000,0.000000e+00
25%,1.054809e+09,2.000000,3.300000e+01,2.000000e+03,0.0,0.000000,0.000000,5.000000e-01
50%,1.148095e+09,13.000000,6.401200e+02,5.500000e+03,0.0,1.000000,0.000000,1.407500e+01
75%,1.240838e+09,58.000000,4.090500e+03,1.551350e+04,0.0,1.000000,1.000000,1.068500e+02
max,1.333329e+09,85581.000000,8.596475e+06,2.000000e+06,0.0,1.000000,1.000000,2.260300e+06

In [30]:
dfdrop_outliers.corr()

,ID,backers,usd_pledged_real,usd_goal_real,success_val,not_successful,successful,percent
ID,1.000000,-0.000591,0.000414,-0.002321,NaN,0.001998,-0.001998,-0.002851
backers,-0.000591,1.000000,0.772312,0.077822,NaN,-0.146207,0.146207,0.016358
usd_pledged_real,0.000414,0.772312,1.000000,0.098160,NaN,-0.125015,0.125015,0.012848
usd_goal_real,-0.002321,0.077822,0.098160,1.000000,NaN,0.118751,-0.118751,-0.004917
success_val,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
not_successful,0.001998,-0.146207,-0.125015,0.118751,NaN,1.000000,-1.000000,-0.027367
successful,-0.001998,0.146207,0.125015,-0.118751,NaN,-1.000000,1.000000,0.027367
percent,-0.002851,0.016358,0.012848,-0.004917,NaN,-0.027367,0.027367,1.000000

In [31]:
result = sm.ols(formula='successful ~ usd_goal_real + usd_pledged_real + backers + percent -1', data=dfdrop_outliers).fit()
result.summary()
## The above formula gave the highest Adj. R-sq of several formulations I tried, but of only 0.041.
## This is higher than that obtained before eliminating goal outliers.

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             successful   R-squared:                       0.041
Model:                            OLS   Adj. R-squared:                  0.041
Method:                 Least Squares   F-statistic:                     695.5
Date:                Sat, 07 Jul 2018   Prob (F-statistic):               0.00
Time:                        12:02:52   Log-Likelihood:                -57626.
No. Observations:               64363   AIC:                         1.153e+05
Df Residuals:                   64359   BIC:                         1.153e+05
Df Model:                           4
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
usd_goal_real     3.225e-07   2.76e-08     11.695      0.000    2.68e-07    3.77e-07
usd_pledged_real  2.475e-07   4.45e-08      5.567      0.000     1.6e-07    3.35e-07
backers              0.0001   4.56e-06     26.584      0.000       0.000       0.000
percent           1.564e-06   1.94e-07      8.073      0.000    1.18e-06    1.94e-06
==============================================================================
Omnibus:                     9929.731   Durbin-Watson:                   1.202
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           179952.600
Skew:                           0.006   Prob(JB):                         0.00
Kurtosis:                      11.192   Cond. No.                         175.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [32]:
result = sm.ols(formula='usd_pledged_real ~ backers - 1', data=dfdrop_outliers).fit()
result.summary()
## This regression shows the same correlation between amount pledged and number of backers
## as before dropping goal outliers.

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:       usd_pledged_real   R-squared:                       0.601
Model:                            OLS   Adj. R-squared:                  0.601
Method:                 Least Squares   F-statistic:                 9.709e+04
Date:                Sat, 07 Jul 2018   Prob (F-statistic):               0.00
Time:                        12:02:52   Log-Likelihood:            -7.9102e+05
No. Observations:               64363   AIC:                         1.582e+06
Df Residuals:                   64362   BIC:                         1.582e+06
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
backers       79.6598      0.256    311.596      0.000      79.159      80.161
==============================================================================
Omnibus:                   166531.906   Durbin-Watson:                   1.978
Prob(Omnibus):                  0.000   Jarque-Bera (JB):      22789901333.900
Skew:                          28.944   Prob(JB):                         0.00
Kurtosis:                    2917.560   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [33]:
## Compare by dropping goal outliers above highest successful goal of $1,000,000.
dfdrop_outliers2 = dfdrop_new

dfdrop_outliers2 = dfdrop_outliers2.drop(dfdrop_outliers2[dfdrop_outliers2['usd_goal_real']>1000000].index)

dfdrop_outliers2.head()

,ID,name,category,main_category,deadline,launched,state,backers,country,usd_pledged_real,usd_goal_real,state_recat,success_val,not_successful,successful,percent
24765,1125705941,Help Save Parkway Cinemas!,Spaces,Theater,2014-08-13,2014-07-14 20:49:08,failed,0,US,0.0,1000000.0,not_successful,0.0,1,0,0.0000
61568,1313158805,ARANAGA STUDIOS.,Video Games,Games,2015-07-19,2015-05-20 23:50:21,failed,1,US,20.0,1000000.0,not_successful,0.0,1,0,0.0020
44758,1227282566,Dodge Juggle,Television,Film & Video,2017-09-14,2017-08-15 21:59:59,failed,27,US,520.0,1000000.0,not_successful,0.0,1,0,0.0520
24739,1125550231,Asynchronicity Shell,Software,Technology,2017-06-14,2017-05-15 21:44:00,failed,4,US,57.0,1000000.0,not_successful,0.0,1,0,0.0057
31959,1162469112,Window- Virtual Reality Holocaust Education,Documentary,Film & Video,2016-04-13,2016-03-14 03:57:14,failed,0,US,0.0,1000000.0,not_successful,0.0,1,0,0.0000

In [34]:
dfdrop_outliers2.describe()

,ID,backers,usd_pledged_real,usd_goal_real,success_val,not_successful,successful,percent
count,6.427800e+04,64278.000000,6.427800e+04,64278.000000,40716.0,64278.000000,64278.000000,6.427800e+04
mean,1.060417e+09,106.029932,9.259965e+03,20354.478049,0.0,0.633436,0.366564,2.598394e+02
std,3.313163e+08,804.534108,8.282226e+04,59666.195919,0.0,0.481870,0.481870,1.205710e+04
min,1.061440e+05,0.000000,0.000000e+00,0.750000,0.0,0.000000,0.000000,0.000000e+00
25%,1.054838e+09,2.000000,3.339000e+01,2000.000000,0.0,0.000000,0.000000,5.000071e-01
50%,1.148161e+09,13.000000,6.423300e+02,5500.000000,0.0,1.000000,0.000000,1.416053e+01
75%,1.240846e+09,58.000000,4.095443e+03,15382.542500,0.0,1.000000,1.000000,1.068734e+02
max,1.333329e+09,85581.000000,8.596475e+06,1000000.000000,0.0,1.000000,1.000000,2.260300e+06

In [35]:
dfdrop_outliers2.corr()

,ID,backers,usd_pledged_real,usd_goal_real,success_val,not_successful,successful,percent
ID,1.000000,-0.000743,0.000250,0.003586,NaN,0.002145,-0.002145,-0.002858
backers,-0.000743,1.000000,0.772085,0.105522,NaN,-0.146400,0.146400,0.016369
usd_pledged_real,0.000250,0.772085,1.000000,0.131624,NaN,-0.125269,0.125269,0.012861
usd_goal_real,0.003586,0.105522,0.131624,1.000000,NaN,0.138303,-0.138303,-0.006065
success_val,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
not_successful,0.002145,-0.146400,-0.125269,0.138303,NaN,1.000000,-1.000000,-0.027356
successful,-0.002145,0.146400,0.125269,-0.138303,NaN,-1.000000,1.000000,0.027356
percent,-0.002858,0.016369,0.012861,-0.006065,NaN,-0.027356,0.027356,1.000000

In [36]:
result = sm.ols(formula='successful ~ usd_goal_real + usd_pledged_real + backers + percent', data=dfdrop_outliers2).fit()
result.summary()
## The above formula gave the highest Adj. R-sq of several formulations I tried, but of only 0.047,
## slightly better than when only goal outliers above $2,000,000 are eliminated.

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             successful   R-squared:                       0.047
Model:                            OLS   Adj. R-squared:                  0.047
Method:                 Least Squares   F-statistic:                     790.7
Date:                Sat, 07 Jul 2018   Prob (F-statistic):               0.00
Time:                        12:02:53   Log-Likelihood:                -42734.
No. Observations:               64278   AIC:                         8.548e+04
Df Residuals:                   64273   BIC:                         8.552e+04
Df Model:                           4
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept            0.3817      0.002    193.826      0.000       0.378       0.386
usd_goal_real    -1.275e-06   3.14e-08    -40.626      0.000   -1.34e-06   -1.21e-06
usd_pledged_real  2.902e-07   3.54e-08      8.206      0.000    2.21e-07     3.6e-07
backers           7.436e-05   3.63e-06     20.488      0.000    6.72e-05    8.15e-05
percent           9.482e-07   1.54e-07      6.160      0.000    6.47e-07    1.25e-06
==============================================================================
Omnibus:                     1795.183   Durbin-Watson:                   1.898
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1859.403
Skew:                           0.397   Prob(JB):                         0.00
Kurtosis:                       2.748   Cond. No.                     8.98e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.98e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [37]:
## The following reverts to eliminating goal outliers using the standard deviation method
## (i.e., eliminating goals above $2,000,000).

In [38]:
## Sort goals into bins.
bins = [0,2,100,500,1000,1500,2000,3000,4000,5000,7500,10000,15000,30000,45000,60000,100000,500000,1000000,2000000]
group_names = ['0-2','2-100','100-500','500-1K','1K-1.5K','1.5K-2K','2K-3K','3K-4K','4K-5K','5K-7.5K','7.5K-10K','10K-15K','15K-30K','30K-45K','45K-60K','60K-100K','100K-500K','500K-1M','1M-2M']
dfdrop_outliers['goalbins'] = pd.cut(dfdrop_outliers['usd_goal_real'], bins, labels=group_names)
dfdrop_outliers.head()

,ID,name,category,main_category,deadline,launched,state,backers,country,usd_pledged_real,usd_goal_real,state_recat,success_val,not_successful,successful,percent,goalbins
42437,1216101235,Self Charging Electric Cars,Hardware,Technology,2017-03-14,2017-01-13 22:51:13,failed,2,US,2.0,2000000.0,not_successful,0.0,1,0,0.00010,1M-2M
18426,109355125,Star Wars: The Force Awakens Comedy Spoof,Comedy,Film & Video,2016-10-05,2016-09-05 18:07:41,failed,1,US,1.0,2000000.0,not_successful,0.0,1,0,0.00005,1M-2M
12627,1063365932,The Man of the Orchestra by The CorrÃ©a Sisters,Narrative Film,Film & Video,2014-09-16,2014-08-14 00:33:53,failed,9,US,1311.0,2000000.0,not_successful,0.0,1,0,0.06555,1M-2M
7272,1036946517,Save Nature,Nature,Photography,2016-07-12,2016-05-13 21:59:33,failed,1,US,20.0,2000000.0,not_successful,0.0,1,0,0.00100,1M-2M
13376,1067320337,"37 U.S. Navy Sailors Murdered, an American story",Drama,Film & Video,2015-07-10,2015-05-11 18:05:32,failed,0,US,0.0,2000000.0,not_successful,0.0,1,0,0.00000,1M-2M

In [39]:
pd.value_counts(dfdrop_outliers['goalbins'])

15K-30K      7631
7.5K-10K     6486
2K-3K        5575
4K-5K        5500
500-1K       5115
5K-7.5K      4999
10K-15K      4960
100-500      4230
3K-4K        3729
1.5K-2K      3312
1K-1.5K      3126
30K-45K      2332
45K-60K      2266
60K-100K     2031
100K-500K    1747
2-100         967
500K-1M       192
1M-2M          85
0-2            80
Name: goalbins, dtype: int64

In [40]:
dfdrop_outliers.groupby('goalbins')['successful'].mean()

goalbins
0-2          0.862500
2-100        0.550155
100-500      0.518676
500-1K       0.479961
1K-1.5K      0.485605
1.5K-2K      0.447464
2K-3K        0.445202
3K-4K        0.449450
4K-5K        0.366909
5K-7.5K      0.375875
7.5K-10K     0.346747
10K-15K      0.334879
15K-30K      0.264841
30K-45K      0.214408
45K-60K      0.184025
60K-100K     0.134417
100K-500K    0.073841
500K-1M      0.036458
1M-2M        0.000000
Name: successful, dtype: float64

In [41]:
dfdrop_outliers.groupby('goalbins')['usd_pledged_real'].mean()

goalbins
0-2            1190.084750
2-100           499.297249
100-500         654.371191
500-1K         1106.943507
1K-1.5K        1311.931171
1.5K-2K        1562.105752
2K-3K          2294.879031
3K-4K          3092.322422
4K-5K          3703.964193
5K-7.5K        4532.063041
7.5K-10K       7858.431936
10K-15K       10031.868605
15K-30K       15972.039873
30K-45K       17662.823199
45K-60K       32369.947308
60K-100K      37128.983540
100K-500K     42672.079107
500K-1M      117025.127604
1M-2M         17875.959294
Name: usd_pledged_real, dtype: float64

In [42]:
dfdrop_outliers.groupby('goalbins')['backers'].mean()

goalbins
0-2           45.212500
2-100         15.321613
100-500       19.517967
500-1K        27.448094
1K-1.5K       31.298145
1.5K-2K       33.941123
2K-3K         44.835157
3K-4K         55.498257
4K-5K         61.803455
5K-7.5K       74.069214
7.5K-10K     130.960376
10K-15K      137.442742
15K-30K      170.923601
30K-45K      192.763293
45K-60K      246.869815
60K-100K     257.701625
100K-500K    377.441328
500K-1M      882.781250
1M-2M        150.364706
Name: backers, dtype: float64

In [43]:
dfdrop_outliers_successful = dfdrop_outliers
dfdrop_outliers_successful = dfdrop_outliers_successful.drop(dfdrop_outliers_successful[dfdrop_outliers_successful['successful']==0].index)
dfdrop_outliers_successful.head(10)

,ID,name,category,main_category,deadline,launched,state,backers,country,usd_pledged_real,usd_goal_real,state_recat,success_val,not_successful,successful,percent,goalbins
30718,1156271755,Shroud of the Avatar: Forsaken Virtues,Video Games,Games,2013-04-07,2013-03-08 16:57:29,successful,22322,US,1919275.99,1000000.00,successful,NaN,0,1,191.927599,500K-1M
37514,1190319763,Pathfinder Online: A Fantasy Sandbox MMO,Video Games,Games,2013-01-15,2012-11-27 21:02:24,successful,8732,US,1091194.42,1000000.00,successful,NaN,0,1,109.119442,500K-1M
6665,1033978702,OUYA: A New Kind of Video Game Console,Gaming Hardware,Games,2012-08-09,2012-07-10 14:44:41,successful,63416,US,8596474.58,950000.00,successful,NaN,0,1,904.892061,500K-1M
51511,1262190409,LUNAR MISSION ONE: A new lunar mission for eve...,Space Exploration,Technology,2014-12-18,2014-11-19 00:59:59,successful,7297,GB,1052244.36,938878.98,successful,NaN,0,1,112.074547,500K-1M
61794,1314258248,System Shock,Video Games,Games,2016-07-28,2016-06-28 21:02:50,successful,21625,US,1350700.17,900000.00,successful,NaN,0,1,150.077797,500K-1M
30041,1152735261,Pono Music - Where Your Soul Rediscovers Music,Sound,Technology,2014-04-15,2014-03-11 18:30:42,successful,18220,US,6225354.98,800000.00,successful,NaN,0,1,778.169373,500K-1M
61146,131105520,Amplitude,Video Games,Games,2014-05-23,2014-05-05 17:55:14,successful,14112,US,844127.56,775000.00,successful,NaN,0,1,108.919685,500K-1M
53060,1270104074,Republique by Camouflaj + Logan,Video Games,Games,2012-05-12,2012-04-10 14:37:30,successful,11611,US,555662.86,500000.00,successful,NaN,0,1,111.132572,100K-500K
932,1004668657,Moment: Make Your iPhone 7 A Better Camera,Product Design,Design,2017-04-08,2017-02-07 17:50:13,successful,5149,US,767897.09,500000.00,successful,NaN,0,1,153.579418,100K-500K
14850,1074800880,Bloodstained: Ritual of the Night,Video Games,Games,2015-06-13,2015-05-11 18:58:41,successful,64867,US,5545991.70,500000.00,successful,NaN,0,1,1109.198340,100K-500K

In [44]:
dfdrop_outliers_successful.describe()

,ID,backers,usd_pledged_real,usd_goal_real,success_val,not_successful,successful,percent
count,2.356200e+04,23562.000000,2.356200e+04,23562.000000,0.0,23562.0,23562.0,2.356200e+04
mean,1.059483e+09,260.861514,2.289842e+04,9506.914897,NaN,0.0,1.0,6.934224e+02
std,3.322434e+08,1312.305985,1.354986e+05,25073.716149,NaN,0.0,0.0,1.990724e+04
min,1.132300e+05,1.000000,1.000000e+00,0.750000,NaN,0.0,1.0,1.000000e+02
25%,1.054825e+09,33.000000,2.000000e+03,1300.000000,NaN,0.0,1.0,1.046247e+02
50%,1.147625e+09,71.000000,5.115000e+03,3839.040000,NaN,0.0,1.0,1.169231e+02
75%,1.240710e+09,167.000000,1.324225e+04,10000.000000,NaN,0.0,1.0,1.643214e+02
max,1.333324e+09,85581.000000,8.596475e+06,1000000.000000,NaN,0.0,1.0,2.260300e+06

In [45]:
dfdrop_outliers_successful.corr()

,ID,backers,usd_pledged_real,usd_goal_real,success_val,not_successful,successful,percent
ID,1.000000,-0.000962,0.000235,0.003346,NaN,NaN,NaN,-0.004615
backers,-0.000962,1.000000,0.768178,0.468941,NaN,NaN,NaN,0.012502
usd_pledged_real,0.000235,0.768178,1.000000,0.545915,NaN,NaN,NaN,0.009506
usd_goal_real,0.003346,0.468941,0.545915,1.000000,NaN,NaN,NaN,-0.008620
success_val,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
not_successful,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
successful,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
percent,-0.004615,0.012502,0.009506,-0.008620,NaN,NaN,NaN,1.000000

In [46]:
result = sm.ols(formula='usd_pledged_real ~ usd_goal_real + backers - 1', data=dfdrop_outliers_successful).fit()
result.summary()
## This regression, run only on successful projects, shows a positive correlation between the amount 
## pledged and both the amount of the goal and the number of backers, with an Adj. R-sq of 0.642,
## slightly improved from the regression run on the entire dataset.

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:       usd_pledged_real   R-squared:                       0.642
Model:                            OLS   Adj. R-squared:                  0.642
Method:                 Least Squares   F-statistic:                 2.114e+04
Date:                Sat, 07 Jul 2018   Prob (F-statistic):               0.00
Time:                        12:02:56   Log-Likelihood:            -3.0008e+05
No. Observations:               23562   AIC:                         6.002e+05
Df Residuals:                   23560   BIC:                         6.002e+05
Df Model:                           2
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
usd_goal_real     1.1967      0.023     51.920      0.000       1.152       1.242
backers          67.6654      0.462    146.482      0.000      66.760      68.571
==============================================================================
Omnibus:                    52232.460   Durbin-Watson:                   2.068
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        860874485.349
Skew:                          20.106   Prob(JB):                         0.00
Kurtosis:                     938.554   Cond. No.                         23.1
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [47]:
pd.value_counts(dfdrop_outliers_successful['goalbins'])

2K-3K        2482
500-1K       2455
7.5K-10K     2249
100-500      2194
15K-30K      2021
4K-5K        2018
5K-7.5K      1879
3K-4K        1676
10K-15K      1661
1K-1.5K      1518
1.5K-2K      1482
2-100         532
30K-45K       500
45K-60K       417
60K-100K      273
100K-500K     129
0-2            69
500K-1M         7
1M-2M           0
Name: goalbins, dtype: int64

In [48]:
dfdrop_outliers_successful.groupby('goalbins')['usd_pledged_real'].mean()

goalbins
0-2          1.379808e+03
2-100        9.018676e+02
100-500      1.221939e+03
500-1K       2.200354e+03
1K-1.5K      2.546167e+03
1.5K-2K      3.256530e+03
2K-3K        4.824183e+03
3K-4K        6.422319e+03
4K-5K        9.417896e+03
5K-7.5K      1.105248e+04
7.5K-10K     2.111445e+04
10K-15K      2.740029e+04
15K-30K      5.501729e+04
30K-45K      7.191270e+04
45K-60K      1.611204e+05
60K-100K     2.469393e+05
100K-500K    4.949417e+05
500K-1M      3.011339e+06
1M-2M                 NaN
Name: usd_pledged_real, dtype: float64

In [49]:
dfdrop_outliers_successful.groupby('goalbins')['usd_pledged_real'].median()

goalbins
0-2              150.000
2-100            158.700
100-500          550.700
500-1K          1120.000
1K-1.5K         1624.000
1.5K-2K         2201.890
2K-3K           3125.000
3K-4K           4170.000
4K-5K           5490.000
5K-7.5K         7474.790
7.5K-10K       10615.000
10K-15K        15753.470
15K-30K        27499.450
30K-45K        44147.715
45K-60K        64081.850
60K-100K      114232.650
100K-500K     268192.000
500K-1M      1350700.170
1M-2M                NaN
Name: usd_pledged_real, dtype: float64

In [50]:
dfdrop_outliers_successful.groupby('goalbins')['usd_pledged_real'].max()

goalbins
0-2            22603.00
2-100         134090.00
100-500       137570.93
500-1K        103156.00
1K-1.5K        87562.59
1.5K-2K       101457.01
2K-3K         433365.57
3K-4K         147206.56
4K-5K         519070.51
5K-7.5K       329862.87
7.5K-10K     3215679.79
10K-15K      1176641.00
15K-30K      5020667.05
30K-45K      1226811.45
45K-60K      3401361.08
60K-100K     2708472.39
100K-500K    5545991.70
500K-1M      8596474.58
1M-2M               NaN
Name: usd_pledged_real, dtype: float64

In [51]:
dfdrop_outliers_successful.groupby('goalbins')['backers'].mean()

goalbins
0-2             52.420290
2-100           27.003759
100-500         35.493619
500-1K          53.259063
1K-1.5K         59.662714
1.5K-2K         69.185560
2K-3K           92.314263
3K-4K          112.744630
4K-5K          153.210109
5K-7.5K        177.224055
7.5K-10K       349.883059
10K-15K        368.936183
15K-30K        581.017813
30K-45K        781.388000
45K-60K       1203.676259
60K-100K      1691.564103
100K-500K     4514.496124
500K-1M      22246.285714
1M-2M                 NaN
Name: backers, dtype: float64

In [52]:
dfdrop_outliers_successful.groupby('goalbins')['backers'].median()

goalbins
0-2              9.0
2-100            9.0
100-500         18.0
500-1K          28.0
1K-1.5K         34.0
1.5K-2K         45.0
2K-3K           55.0
3K-4K           68.0
4K-5K           80.0
5K-7.5K        103.0
7.5K-10K       134.0
10K-15K        179.0
15K-30K        269.0
30K-45K        381.5
45K-60K        558.0
60K-100K       895.0
100K-500K     1968.0
500K-1M      18220.0
1M-2M            NaN
Name: backers, dtype: float64

In [53]:
dfdrop_outliers_successful.groupby('goalbins')['backers'].max()

goalbins
0-2           1499.0
2-100         1318.0
100-500       2254.0
500-1K        3022.0
1K-1.5K       2453.0
1.5K-2K       2128.0
2K-3K        10103.0
3K-4K         4893.0
4K-5K         5923.0
5K-7.5K       8900.0
7.5K-10K     85581.0
10K-15K      11406.0
15K-30K      26457.0
30K-45K      28818.0
45K-60K      21975.0
60K-100K     14749.0
100K-500K    73206.0
500K-1M      63416.0
1M-2M            NaN
Name: backers, dtype: float64

In [54]:
dfdrop_outliers_successful.groupby('goalbins')['backers'].min()

goalbins
0-2             1.0
2-100           1.0
100-500         1.0
500-1K          1.0
1K-1.5K         1.0
1.5K-2K         1.0
2K-3K           1.0
3K-4K           1.0
4K-5K           4.0
5K-7.5K         6.0
7.5K-10K       10.0
10K-15K         6.0
15K-30K        14.0
30K-45K        30.0
45K-60K        22.0
60K-100K       34.0
100K-500K     130.0
500K-1M      7297.0
1M-2M           NaN
Name: backers, dtype: float64

In [55]:
## Create bins for backers.
bins = [0,1,2,5,10,20,30,40,50,100,150,200,300,500,1000,2000,86000]
group_names = ['0-1','1-2','2-5','5-10','10-20','20-30','30-40','40-50','50-100','100-150','150-200','200-300','300-500','500-1K','1K-2K','2K-86K']
dfdrop_outliers['backersbins'] = pd.cut(dfdrop_outliers['backers'], bins, labels=group_names)
dfdrop_outliers.head()

,ID,name,category,main_category,deadline,launched,state,backers,country,usd_pledged_real,usd_goal_real,state_recat,success_val,not_successful,successful,percent,goalbins,backersbins
42437,1216101235,Self Charging Electric Cars,Hardware,Technology,2017-03-14,2017-01-13 22:51:13,failed,2,US,2.0,2000000.0,not_successful,0.0,1,0,0.00010,1M-2M,1-2
18426,109355125,Star Wars: The Force Awakens Comedy Spoof,Comedy,Film & Video,2016-10-05,2016-09-05 18:07:41,failed,1,US,1.0,2000000.0,not_successful,0.0,1,0,0.00005,1M-2M,0-1
12627,1063365932,The Man of the Orchestra by The CorrÃ©a Sisters,Narrative Film,Film & Video,2014-09-16,2014-08-14 00:33:53,failed,9,US,1311.0,2000000.0,not_successful,0.0,1,0,0.06555,1M-2M,5-10
7272,1036946517,Save Nature,Nature,Photography,2016-07-12,2016-05-13 21:59:33,failed,1,US,20.0,2000000.0,not_successful,0.0,1,0,0.00100,1M-2M,0-1
13376,1067320337,"37 U.S. Navy Sailors Murdered, an American story",Drama,Film & Video,2015-07-10,2015-05-11 18:05:32,failed,0,US,0.0,2000000.0,not_successful,0.0,1,0,0.00000,1M-2M,NaN

In [56]:
pd.value_counts(dfdrop_outliers['backersbins'])

50-100     7243
2-5        6510
10-20      6327
0-1        5940
5-10       5428
20-30      4282
1-2        3955
100-150    3195
30-40      3178
40-50      2427
200-300    1829
150-200    1678
300-500    1412
500-1K     1146
1K-2K       633
2K-86K      442
Name: backersbins, dtype: int64

In [57]:
dfdrop_outliers.describe()

,ID,backers,usd_pledged_real,usd_goal_real,success_val,not_successful,successful,percent
count,6.436300e+04,64363.000000,6.436300e+04,6.436300e+04,40801.0,64363.000000,64363.000000,6.436300e+04
mean,1.060354e+09,106.088483,9.271344e+03,2.237692e+04,0.0,0.633920,0.366080,2.594977e+02
std,3.313619e+08,804.454097,8.283503e+04,8.236006e+04,0.0,0.481735,0.481735,1.204914e+04
min,1.061440e+05,0.000000,0.000000e+00,7.500000e-01,0.0,0.000000,0.000000,0.000000e+00
25%,1.054809e+09,2.000000,3.300000e+01,2.000000e+03,0.0,0.000000,0.000000,5.000000e-01
50%,1.148095e+09,13.000000,6.401200e+02,5.500000e+03,0.0,1.000000,0.000000,1.407500e+01
75%,1.240838e+09,58.000000,4.090500e+03,1.551350e+04,0.0,1.000000,1.000000,1.068500e+02
max,1.333329e+09,85581.000000,8.596475e+06,2.000000e+06,0.0,1.000000,1.000000,2.260300e+06

In [58]:
dfdrop_outliers.groupby('backersbins')['successful'].mean()

backersbins
0-1        0.011279
1-2        0.016435
2-5        0.043318
5-10       0.133751
10-20      0.332069
20-30      0.509341
30-40      0.612649
40-50      0.680676
50-100     0.743338
100-150    0.836933
150-200    0.848629
200-300    0.891197
300-500    0.917139
500-1K     0.942408
1K-2K      0.973144
2K-86K     0.990950
Name: successful, dtype: float64

In [59]:
dfdrop_outliers_successful = dfdrop_outliers
dfdrop_outliers_successful = dfdrop_outliers_successful.drop(dfdrop_outliers_successful[dfdrop_outliers_successful['successful']==0].index)
dfdrop_outliers_successful.head()

,ID,name,category,main_category,deadline,launched,state,backers,country,usd_pledged_real,usd_goal_real,state_recat,success_val,not_successful,successful,percent,goalbins,backersbins
30718,1156271755,Shroud of the Avatar: Forsaken Virtues,Video Games,Games,2013-04-07,2013-03-08 16:57:29,successful,22322,US,1919275.99,1000000.00,successful,NaN,0,1,191.927599,500K-1M,2K-86K
37514,1190319763,Pathfinder Online: A Fantasy Sandbox MMO,Video Games,Games,2013-01-15,2012-11-27 21:02:24,successful,8732,US,1091194.42,1000000.00,successful,NaN,0,1,109.119442,500K-1M,2K-86K
6665,1033978702,OUYA: A New Kind of Video Game Console,Gaming Hardware,Games,2012-08-09,2012-07-10 14:44:41,successful,63416,US,8596474.58,950000.00,successful,NaN,0,1,904.892061,500K-1M,2K-86K
51511,1262190409,LUNAR MISSION ONE: A new lunar mission for eve...,Space Exploration,Technology,2014-12-18,2014-11-19 00:59:59,successful,7297,GB,1052244.36,938878.98,successful,NaN,0,1,112.074547,500K-1M,2K-86K
61794,1314258248,System Shock,Video Games,Games,2016-07-28,2016-06-28 21:02:50,successful,21625,US,1350700.17,900000.00,successful,NaN,0,1,150.077797,500K-1M,2K-86K

In [60]:
pd.value_counts(dfdrop_outliers_successful['backersbins'])

50-100     5384
100-150    2674
20-30      2181
10-20      2101
30-40      1947
40-50      1652
200-300    1630
150-200    1424
300-500    1295
500-1K     1080
5-10        726
1K-2K       616
2K-86K      438
2-5         282
0-1          67
1-2          65
Name: backersbins, dtype: int64

In [61]:
dfdrop_outliers_successful.groupby('backersbins')['usd_pledged_real'].mean()

backersbins
0-1           309.127313
1-2           397.805846
2-5           409.319504
5-10          806.377163
10-20        1439.236345
20-30        2276.640885
30-40        3167.622912
40-50        4200.512082
50-100       6593.734279
100-150     10943.940385
150-200     15643.044614
200-300     21614.339742
300-500     34002.837853
500-1K      57063.555241
1K-2K      117156.352045
2K-86K     496773.612763
Name: usd_pledged_real, dtype: float64

In [62]:
dfdrop_outliers_successful.groupby('backersbins')['usd_pledged_real'].median()

backersbins
0-1            50.000
1-2            90.000
2-5           176.145
5-10          500.000
10-20         900.000
20-30        1500.150
30-40        2225.000
40-50        2999.500
50-100       4794.135
100-150      8246.885
150-200     11642.555
200-300     16267.610
300-500     24182.000
500-1K      40388.535
1K-2K       76439.775
2K-86K     250293.665
Name: usd_pledged_real, dtype: float64

In [63]:
dfdrop_outliers_successful.groupby('backersbins')['usd_pledged_real'].max()

backersbins
0-1           3900.00
1-2          10001.00
2-5           4350.00
5-10         15000.00
10-20        46006.21
20-30        50175.00
30-40        70047.00
40-50        98013.74
50-100      193004.00
100-150     167068.92
150-200     179717.55
200-300     510497.00
300-500     636130.65
500-1K     1193255.00
1K-2K      1924018.00
2K-86K     8596474.58
Name: usd_pledged_real, dtype: float64

In [64]:
dfdrop_outliers_successful.groupby('backersbins')['percent'].mean()

backersbins
0-1         366.008316
1-2         648.113538
2-5         772.499501
5-10        396.922825
10-20       312.402885
20-30       305.941338
30-40       618.593049
40-50       582.750375
50-100      489.810668
100-150     590.540749
150-200    2617.304281
200-300     231.011064
300-500    1125.560365
500-1K      733.375073
1K-2K      1447.812977
2K-86K     1857.767439
Name: percent, dtype: float64

In [65]:
dfdrop_outliers_successful.groupby('backersbins')['percent'].median()

backersbins
0-1        100.000000
1-2        114.001610
2-5        119.972467
5-10       108.708333
10-20      111.000000
20-30      112.000000
30-40      111.428571
40-50      111.399985
50-100     112.420156
100-150    114.580000
150-200    118.021111
200-300    125.051221
300-500    148.562000
500-1K     204.469758
1K-2K      361.065138
2K-86K     773.001926
Name: percent, dtype: float64

In [66]:
## Looking only at successful projects, with 300 backers or more, the amount pledged as a percent of 
## goal increases significantly, with the median pledged exceeding goal by 49% ('percent' = 149). 
## At 500+ backers, the median pledged is double the goal (205%). At 1,000+ backers the median pledged is
## almost quadruple the goal (361%).  At 2,000+ backers, the median pledged is almost 8x the goal (773%).

In [67]:
## Assignment was to find 1) "the amount at which goals become far less likely to be reached" 
## and 2) "the number of backers at which kickstarters become far more likely to be funded."

## Regression analysis did not prove helpful in this regard.  Binning was much more helpful.

## See my separate Excel workbook for a visual/tabular analysis of the data and assignment.